<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header">
    <div class="layui-header" style="background: #393D49">
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left" id="categoryList">
            <li class="layui-nav-item"><div class="layui-logo"><a href="/index">在线看书城</a></div></li>
            <li class="layui-nav-item"><div style="margin-left: 50px"></div></li>
        </ul>
        <ul class="layui-nav layui-layout-right" style="margin-right: 50px">
            <li class="layui-nav-item" th:if="${session.user}">
                <a href="javascript:;">
                    <img th:src="'/upload/images/'+${session.user.avatarUrl}" class="layui-nav-img"/>
                    <span th:text="${session.user.username}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/user/info">基本资料</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" th:if="${session.user} eq null"><a href="/login/user">登陆</a></li>
            <li class="layui-nav-item" th:if="${session.user} eq null"><a href="/register">注册</a></li>
            <li class="layui-nav-item" th:if="${session.user} ne null"><a href="/logout/user">退出</a></li>
        </ul>
    </div>
</header>
</body>
</html>