<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: htmlhead(~{::title},~{::style})">
    <style>
        body{
            background: #e0ce9e;
            background-image: url('/images/background/admin-bg2.jpg');
        }
    </style>
    <title>用户登录</title>
</head>
<body>
<div style="text-align: center;margin-top: 5%">
    <h1>在线看书城-登录管理</h1>
    <div style="color: red;margin-top: 20px" th:text="${msg}">辅助文字</div>
</div>
<div style="margin: 1% auto;width: 400px;">
    <form class="layui-form" action="/login/user" method="post"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-inline">
                <input type="text" name="name" required  lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" type="submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <a href="/index" style="margin-right: 40px;margin-left: 20px;color: red">返回首页</a>
                <a href="/register" style="color: white">去注册</a>
            </div>
        </div>
        <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
    </form>
</div>
<script>
    layui.use('form', function(){
        var form = layui.form
            ,$ = layui.jquery;

        //各种基于事件的操作，下面会有进一步介绍
    });
</script>
</body>
</html>